.app h1 {
    color: rgb(56, 56, 56);
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
}

.app .app__search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.app__search > input {
    padding: 0.5rem;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 6px;
    background-color: rgb(248, 248, 248);
    width: 30%;
    outline-width: 0;
    margin-top: 1rem;
}

.app__searchResults {
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.individual_result {
    padding: 0.5rem;
    border-radius: 7px;
    background-color: rgb(248, 248, 248);
    cursor: pointer;
    margin-top: 0.5rem;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
    transition: box-shadow 0.3s ease-out;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
}

.individual_result:hover {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.link {
    width: 100%;
}